@{
    ViewData["Title"] = "Институт";
}
<h5>Владимирский государственный университет имени Александра Григорьевича и Николая Григорьевича Столетовых</h5>
<h5>Кафедра информационных систем и программной инженерии</h5>
<h3>Программная система "Университет"</h3>
<h4>Микросервисы "Студент" и "Успеваемость"</h4>
<h4>Микросервисы "Сотрудники" и "Структура"</h4>